:root {
  --primary-color: #1f67f0;
}
* {
  font-family: "Poppins", sans-serif;
}
body, html {
  overflow-x: hidden;
}
body.no-scroll {
  overflow: hidden; /* Prevent scrolling */
}
.wow {
  will-change: transform;
  max-width: 100%;
  box-sizing: border-box;
}

.hover-button {
  position: relative;
  padding: 15px 30px;
  font-size: 14px;
  color: white;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.4s ease;
  border: 1px solid #fff;
  border-radius: 0;
}

.hover-button::before {
  content: '';
  position: absolute;
  top: 0;
  right: 100%;
  bottom: 0;
  left: 0;
  color: #000;
  background-color: #fff;
  transition: right 0.4s ease;
  z-index: 0;
}

.hover-button:hover::before {
  right: 0;
}

.hover-button:hover {
  color: #000;
}

.hover-button span {
  position: relative;
  z-index: 1;
}
/* custom side nav */
.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 320px;
  background: #343a40;
  color: white;
  transform: translateX(-320px); 
  transition: transform 0.3s ease; 
  z-index: 1001;
}

.nav-bar.open {
  transform: translateX(0);
}

.nav-bar h2 {
  margin: 20px;
}

.nav-bar ul {
  list-style-type: none;
  padding: 0;
}

.nav-bar ul li, .margin-rl {
  margin: 0 20px;
}
.margin-20px{
  margin: 20px;
}

.nav-bar ul li a {
  color: white;
  text-decoration: none;
  display: block;
}

.open-btn{
  background: transparent;
  border: none;
  color: white;
  font-size: 22px;
  cursor: pointer;
}

.close-btn {
  background: transparent;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  position: absolute;
  top: 13px;
  right: 13px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 1000;
}

.backdrop.open {
  opacity: 1;
  visibility: visible; 
}

/* theme color */
.txt-theme-color {
  color: var(--primary-color);
}

.theme-bg-color {
  background-color: var(--primary-color);
}

.theme-bg-color-btn,
.theme-bg-color-btn:hover {
  background-color: var(--primary-color);
  color: #fff;
}
.light-dark{
  color: #ffffffa6;
}
.bottom-nav-contact{
  position: fixed;
  bottom: 0;
}

/* font size */
.banner-text {
  font-size: 80px;
}

/* height */
.height5px {
  height: 5px;
}

/* margin */
.m-86px {
  margin: 86px 0;
}
.margin-b-form-field{
  margin-bottom: 30px;
}
/* text */
.text-justify {
  text-align: justify;
}

/* border */
.theme-border {
  border-bottom: 2px solid var(--primary-color);
}
.center-img-auto{
  margin: auto;
  display: block;
}
.h-133px{
  height: 133px;
}
@keyframes slideUp {
  to {
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
  }
}

.slide-up {
  animation: slideUp 1s ease-in-out forwards;
}

/* bg banner */
.bg-img {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/DSC_1037.JPG');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

/* mine img */
.responsive-img {
  max-width: 100%;
  min-width: 310px;
  height: auto;
}

/* preloader */
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  inset: 0;
  width: 100%;
  height: 100%;
  background: #000;
  color: #fff;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 2s ease-out;
}

/* preloader animation loader */
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: animloader 1s linear infinite;
}

@keyframes animloader {
  0% {
    box-shadow: -72px 0 #FFF inset;
  }

  100% {
    box-shadow: 48px 0 var(--primary-color) inset;
  }
}

/* nav onscroll add background color change */
#navbar {
  transition: background-color 0.3s ease;
}

.bg-scrolled , .footer-bg{
  background-color: #343a40 !important;
}

/* icon distance */
.nav-icon {
  width: 25px;
}
.active-nav{
  color: var(--primary-color) !important;
}
.icon-rounded{
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  margin-right: 15px;
}
.call-icon-bg{
  background-color: var(--primary-color);
}
.whatsapp-icon-bg{
  background-color: #4FCE5D;
}
.email-icon-bg{
  background-color: #EA4335;
}
.linkedin-icon-bg{
  background-color: #0077B5;
}
.github-icon-bg{
  background-color: #000;
}
.font-size-12px{
  font-size: 12px;
}
.font-size-14px{
  font-size: 14px;
}
.text-ddd {
  color: #ddd !important;
}
/* form */
.inputf {
  width: 100%;
  height: auto;
  border: 1px solid rgb(62, 62, 62);
  outline: none;
  box-sizing: border-box;
  padding: 10px;
  position: relative;
  z-index: 1;
}
.inputf:focus {
  box-shadow: 5px 5px 0 rgb(62, 62, 62);
}
.label {
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.25s;
  color: black;
}
.inputf:focus + .label {
  top: -25px;
}
.inputf:not(:placeholder-shown) + .label {
  top: -20px;
}
.inputf:not(:placeholder-shown) {
  box-shadow: 5px 5px 0 rgb(62, 62, 62);
}
.letter-spacing-sm{
  letter-spacing: 1.5px;
}
.section-title::after{
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: var(--primary-color);
  margin: 5px 10px;
}

.rounded-circle-position{
  top: 10px;
  left: -25px;
}
.border-theme-color{
  border-color: var(--primary-color) !important;
}

.project-card {
  cursor: pointer;
  transition: transform 0.3s ease;
}
.project-card:hover {
  transform: scale(1.01);
}
.overlay {
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 2;
}
.project-card:hover .overlay {
  opacity: 1;
}
.project-img {
  height: 330px;
  object-fit: cover;
}

/* media queries */

@media (min-width: 300px) and (max-width: 425px) {
  .banner-text {
    font-size: 40px;
  }
  .project-img {
    height: 220px;
  }
}

/* Extra Small Devices (Phones, less than 576px) */
@media (min-width: 425px) and (max-width: 575.98px) {
  .banner-text {
    font-size: 40px;
  }
  .project-img {
    height: 220px;
  }
}

/* Small Devices (Tablets, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .banner-text {
    font-size: 50px;
  }
}

/* Medium Devices (Desktops, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .banner-text {
    font-size: 60px;
  }
}

/* Large Devices (Desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .banner-text {
    font-size: 70px;
  }
}

/* Extra Large Devices (Desktops, 1200px and up) */
@media (min-width: 1200px) {
  .banner-text {
    font-size: 80px;
  }
}